{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>
                <!-- form is based on User Entity -->
                {{ dump(form.vars.value) }}
                <!-- http://stackoverflow.com/questions/12497133/directly-access-a-form-fields-value-when-overriding-widget-in-a-twig-template -->
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>{{ form_errors(form.name) }}{{ form_label(form.name) }}: {{ form_widget(form.name) }}</div>
            <div>{{ form_label(form.description) }}: {{ form_widget(form.description) }}</div>
            <div>{{ form_label(form.stock) }}: {{ form_widget(form.stock) }}</div>
            <div>{{ form_label(form.price) }}: {{ form_widget(form.price) }}</div>
            {{ form_rest(form) }}


            <div><input type="submit" value="Guardar"></div>
        </form>
    </div>
{% endblock %}