{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>

            </div>

            <div>{{ form_errors(form.name) }}{{ form_label(form.name) }}: {{ form_widget(form.name) }}</div>
            <div>{{ form_label(form.description) }}: {{ form_widget(form.description) }}</div>
            <div>{{ form_label(form.stock) }}: {{ form_widget(form.stock) }}</div>
            <div>{{ form_label(form.price) }}: {{ form_widget(form.price) }}</div>
            {{ form_rest(form) }}


            <div><input type="submit" value="Guardar"></div>
        </form>
    </div>
{% endblock %}