{% extends '::base.html.twig' %}

{% block body %}
    <h1>Accesorios</h1>
        {% for Producto in productos %}
            <div class="panel panel-default">
                <div class="panel-body">

                        <h3 style="margin-top: 0px;">{{ Producto.name }}</h3>
                        <img style="width: 120px; height: 100px;" src="{{ asset('/images/galeria/' ~ Producto.imagen) }}" >
                        Nº Producto:    {{ Producto.id }}<br>
                        Vendedor:       {{ Producto.clients }}<br>

                        Descripcion:    {{ Producto.description }}<br>
                        Cantidad:       {{ Producto.stock }}<br>
                        Precio:         {{ Producto.price }}€<br>


                    {% if app.user == Producto.clients or app.user.username == "Sabuco" %}
                        <a href="{{ path('app_producto_update', {'id' : Producto.id}) }}">Editar&nbsp;</a>
                        <a href="{{ path('app_producto_remove', {'id' : Producto.id}) }}">Borrar</a>
                    {% endif %}

                    <div class="panel-body">
                    {% for comentario in Producto.getComentario %}

                                <hr>
                                <h3 style="margin-top: 0px;">{{ comentario.titulo }}</h3>
                                Id_comentario:  {{ comentario.id }}<br>
                                Comentario:     {{ comentario.contenido }}<br>


                                {% if app.user == comentario.usuario or app.user.username == "Sabuco" %}
                                    <a href="{{ path('app_comentario_update', {'id' : comentario.id}) }}">Editar&nbsp;</a>
                                    <a href="{{ path('app_comentario_remove', {'id' : comentario.id}) }}">Borrar</a>
                                {% endif %}
                    {% endfor %}



            <a href="{{ path('app_comentario_add', {'id' : Producto.id })}}">➕  Añadir comentario</a>
            </div>


            <br><br>
            </div>
            </div>
        {% endfor %}
        <div>
            <a class="btn btn-success" href="{{ path('app_producto_insert') }}" role="button">➕  Añadir accesorio</a>
        </div>
{% endblock %}