{% extends '::base.html.twig' %}

{% block sidebar %}
    <form action="{{ path('app_producto_buscar') }}" method="post">
        <input type="text" name="busqueda" placeholder="Busqueda en accesorios...">

        <input type="submit">
    </form>
{% endblock %}

{% block body %}
    <h1>Accesorios</h1>
        {% for Producto in productos %}
            <div class="panel panel-default">
                <div class="panel-body">

                        <h3 style="margin-top: 0px;">{{ Producto.name }}</h3>
                        <img style="width: 120px; height: 100px;" src="{{ asset('/images/galeria/' ~ Producto.imagen) }}" >


                        Descripcion:    {{ Producto.description }}<br>
                        Cantidad:       {{ Producto.stock }}<br>
                        Precio:         {{ Producto.price }}€<br>


                    {% if app.user.username == "Sabuco" %}
                        <a href="{{ path('app_producto_update', {'id' : Producto.id}) }}">Editar&nbsp;</a>
                        <a href="{{ path('app_producto_remove', {'id' : Producto.id}) }}">Borrar</a>
                    {% endif %}





            <br><br>
                </div>
            </div>
        {% endfor %}

    {% if app.user.username == "Sabuco" %}
        <div>
            <a class="btn btn-success" href="{{ path('app_producto_insert') }}" role="button">➕  Añadir accesorio</a>
        </div>
    {% endif %}
    <div>{% include ':productosTemplates:pagination.html.twig' %}</div>
{% endblock %}