{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="textoBlanco">Blog</h1>
    {% for Blog in blogs %}
        <div class="panel panel-default">
            <div class="panel-body">

                <h3 style="margin-top: 0px;">{{ Blog.name }}</h3>

                Descripcion:    {{ Blog.description }}<br>




                {% if app.user.username == "Sabuco" %}
                    <a href="{{ path('app_blog_update', {'id' : Blog.id}) }}">Editar&nbsp;</a>
                    <a href="{{ path('app_blog_remove', {'id' : Blog.id}) }}">Borrar</a>
                {% endif %}

                <div class="panel-body">
                    {% for comentario in Blog.getComentario %}

                        <hr>
                        <h3 style="margin-top: 0px;">{{ comentario.titulo }}</h3>
                        Usuario:  {{ comentario.usuario }}<br>
                        Comentario:     {{ comentario.contenido }}<br>


                        {% if app.user == comentario.usuario or app.user.username == "Sabuco" %}
                            <a href="{{ path('app_comentario_update', {'id' : comentario.id}) }}">Editar&nbsp;</a>
                            <a href="{{ path('app_comentario_remove', {'id' : comentario.id}) }}">Borrar</a>
                        {% endif %}
                    {% endfor %}



                    <a href="{{ path('app_comentario_add', {'id' : Blog.id })}}">➕  Añadir comentario</a>
                </div>


                <br><br>
            </div>
        </div>
    {% endfor %}
    {% if app.user.username == "Sabuco" %}
        <div>
            <a class="btn btn-success" href="{{ path('app_blog_insert') }}" role="button">➕  Añadir Post</a>
        </div>
    {% endif %}
    <div>{% include ':blog:pagination.html.twig' %}</div>
{% endblock %}