{% block body %}
<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12">
                <img style="width: 400px; height: 250px;" src="{{ asset('/images/galeria/' ~ Producto.imagen) }}" >
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <h3>{{ Producto.name }}</h3>
                Descripcion:    {{ Producto.description }}<br>
                Cantidad:       {{ Producto.stock }}<br>
                Precio:         {{ Producto.price }}€<br>
            </div>

        </div>
        {% if app.user.username == "Sabuco" %}
        <a href="{{ path('app_producto_update', {'id' : Producto.id}) }}">Editar&nbsp;</a>
        <a href="{{ path('app_producto_remove', {'id' : Producto.id}) }}">Borrar</a>
        {% endif %}


        <br><br>
    </div>
</div>

{% endblock %}