{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
            <img style="width: 400px; height: 250px;" src="{{ asset('/images/galeria/' ~ Bicicleta.img) }}" >
            </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                <h3 style="">{{ Bicicleta.name }}</h3>
            Descripcion:    {{ Bicicleta.descripcion }}<br>

            Precio:         {{ Bicicleta.price }}€<br>
                    </div>
            </div>

            {% if app.user.username == "Sabuco" %}
                <a href="{{ path('app_bicicleta_update', {'id' : Bicicleta.id}) }}">Editar&nbsp;</a>
                <a href="{{ path('app_bicicleta_remove', {'id' : Bicicleta.id}) }}">Borrar</a>
            {% endif %}

            <br><br>
        </div>
    </div>
{% endblock %}